* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #252525;
}

body {
    width: 100%;
    font-family: Poppins;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        &__logo {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text-color);
        }
        &__links {
            display: inline-block;
            list-style: none;
            padding-left: 3rem;
            & a {
                text-decoration: none;
                color: var(--text-color);
                font-style: medium;
                font-weight: 700;
            }
        }
    }
}

.bg-title {
    margin-top: 15rem;
    &__list {
        list-style: none;
        .bg-title__items {
            display: inline-block;
            position: relative;
            font-size: 7rem;
            text-align: center;
            -webkit-text-stroke: 1px black;
            color: transparent;
            padding-right: 2rem;
            top: 50%;
            & img {
                position: absolute;
                width: 300px;
                height: 400px;
                object-fit: cover;
                transform: translate(-50%, -50%);
                top: -10%;
                left: 50%;
                z-index: -10;
                opacity: 0;
            }
        }
    }
}