* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
}

body {
    width: 100%;
    font-family: Poppins;
    background-color: black;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        &__logo {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text-color);
        }
        &__links {
            display: inline-block;
            list-style: none;
            padding-left: 3rem;
            & a {
                text-decoration: none;
                color: var(--text-color);
                font-style: medium;
                font-weight: 700;
            }
        }
    }
}

.bg-title {
    margin-top: 12rem;
    &__intro {
        font-size: 3rem;
        -webkit-text-stroke: 1px #677381;
        color: transparent;
    }
    &__list {
        list-style: none;
        .bg-title__items {
            display: inline-block;
            position: relative;
            font-size: 6rem;
            text-align: center;
            -webkit-text-stroke: 1px #677381;
            color: transparent;
            padding-right: 2rem;
            top: 50%;
            & img {
                position: absolute;
                width: 300px;
                height: 250px;
                object-fit: cover;
                transform: translate(-50%, -50%);
                top: -10%;
                left: 50%;
                z-index: -10;
                opacity: 0;
            }
        }
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6rem;
    margin-top: 2rem;
    &__text {
        color: var(--text-color);
        font-size: 1.5rem;
        font-style: initial;
        text-align: justify;
        margin-top: 2.5rem;
        line-height: 1.5;
    }
    &__img {
        width: 400px;
        height: 450px;
        object-fit: cover;
    }
}